<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <!-- 🔹 1. Proxy sitemap to backend -->
        <rule name="SitemapProxy" stopProcessing="true">
          <match url="^sitemap\.xml$" />
          <action type="Rewrite" url="http://localhost:8001/sitemap.xml" />
        </rule>

        <!-- 🔹 2. React SPA Routing -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>